.bf-auth-dialog {    
    .dialog-header {
        padding: 16px;
    }

    .dialog-content {
        padding: 0 16px 40px 16px;

        p {
            margin: 0;
        }
    }

    .close-button {
        position: absolute;
        top: 8px;
        right: 8px;
    }

    .login-button {
        @media screen and (max-width: 400px) {
            width: 100%;
        }
    }
}