.bf-playback-controls {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 3fr minmax(250px, 1fr);
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    background-color: #111;

    .bf-current-track-info {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .bf-playback-controls-primary {
        margin-top: 16px;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .bf-playback-progress {
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 0 16px;
    }

    .bf-playback-controls-secondary {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    @media screen and (max-width: 960px) {
        grid-template-columns: 300px 1fr;
        grid-template-rows: auto 1fr;

        .bf-playback-controls-secondary {
            display: none;
        }
    }
}